# Dependencies
node_modules

# Build output
dist
dist-ssr
dist-electron-new
dist-electron

# Local env
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Android build artifacts
android/.gradle/
android/app/build/
android/app/.cxx/
android/captures/
android/local.properties
android/app/release/
android/.idea/

# iOS build artifacts
ios/App/Pods/
ios/App/build/
ios/App/output/
ios/DerivedData/
ios/capacitor-cordova-ios-plugins/
ios/App/App/app.ipa

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.parcel-cache/
.vite/

# Temp
*.tmp
*.bak
